.nopower    {fill: #E1D4C2;}
.water      {fill: lightblue;}

.neutral    {fill: dimgray;}

.austria    {fill: #A64B4B;} /* indianred */
.england    {fill: #CC3700;} /* orangered */
.france     {fill: #125699;} /* dodgerblue */
.germany    {fill: goldenrod;}
.italy      {fill: #5C9802;}
.russia     {fill: #7A399A;} /* darkorchid */
.turkey     {fill: dodgerblue;}
