.nopower    {fill: #E1D4C2;}
.water      {fill: lightblue;}

.neutral    {fill: dimgray;}

.austria    {fill: indianred;}
.england    {fill: orange;}
.france     {fill: #1565B2;}
.germany    {fill: gold;}
.italy      {fill: #7CB822;}
.russia     {fill: darkorchid;}
.turkey     {fill: dodgerblue;}
